@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.big-container{
  display: flex;
  flex-direction: row;
  display: flex;
  align-items:center;
  justify-content: center; /* Alinha os itens no canto direito */
  background-color: transparent;
  font-family: 'Playfair Display', serif;
  color: #4C3D3D;
}
.small-container{
  background-color: transparent;
  font-family: 'Playfair Display', serif;
  color: #4C3D3D;
}
.container {
  background-color: transparent;
  font-family: 'Playfair Display', serif;
  color: #4C3D3D;
}
